<div fxLayout="column">

    <div>
        <h1>Buscador de productos</h1>
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column">

        <br>

        <h3>Ingrese el nombre del producto que quiere buscar</h3>

        <mat-form-field>
            <input type="text"
                   placeholder="Búsqueda"
                   aria-label="Number"
                   matInput
                   [(ngModel)] = "termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">

            <mat-autocomplete autoActiveFirstOption 
                              #auto="matAutocomplete"
                              (optionSelected)="opcionSeleccionada( $event )">
                <!-- Arreglo de productos a buscar -->
              <mat-option *ngFor="let producto of productos" [value]="producto">
                {{producto.nombre}}
              </mat-option>

              <mat-option value="" *ngIf="productos.length === 0 && termino.trim().length > 0">
                  No se encontro nada con el término {{termino}}
              </mat-option>

            </mat-autocomplete>
        </mat-form-field>

    </div>

    <div *ngIf="productoSeleccionado"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="20px">

        <div fxFlex="50"
             fxFlex.lg="15"
             fxFlex.sm="30">

            <app-producto-tarjeta [producto]="productoSeleccionado"></app-producto-tarjeta>

        </div>
    </div>

</div>